body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@font-face {
    font-family: "vinamilk";
    src: url(VNMSansStd.otf)
}

@font-face {
    font-family: "vinamilk-reg";
    src: url(VNMSansDisplayRegular.otf)
}

@font-face {
    font-family: "vinamilk-bold";
    src: url(VNMSansDisplayBold.otf)
}

body {
    padding: 10px;
    font-family: "vinamilk";
}

#logo {
    font-family: "vinamilk-bold";
    width: 300px;
    background-color: #0313B0;
    color: white;
    text-align: center;
    padding: 120px;
}

#main {
    font-size: 82px;
}

#part {
    font-size: 22px;
    position: relative;
}

#left {
    position: absolute;
    top: -18px;
    left: 40.5px;
}

#right {
    position: absolute;
    top: -18px;
    right: 40.5px;
}

#head {
    font-size: 23px;
}

.author {
    text-decoration: none;
    color: #2937b1;
    font-size: 24px;
    font-weight: 500;
}

.contents-btn {
    margin-left: 1rem;
}

#downloadBtn {
    margin-top: 1rem;
    height: 40px;
    width: 140px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 2.3rem;
    background-color: #1328e8;
    border: 2px solid #1328e8;
    color: #fff;
    --webkit-transition: all 0.6s;
    transition: all 0.6s ease-in-out;
    animation: example 2s infinite;
    font-weight: 600;
}

#downloadBtn:hover {
    transform: translateY(0.35rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 20px rgba(103, 98, 98, 0.2);
    background-position: 0;
    -webkit-transform: translateY(0.35rem);
    color: #f1ecea;
    font-weight: 600;
}

#downloadBtn:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#font,
#bg {
    margin-right: 1em;
    height: 40px;
    width: 100px;
}

#color {
    height: 40px;
    width: 140px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 2.3rem;
    background-color: #1328e8;
    border: 2px solid #1328e8;
    color: #fff;
    --webkit-transition: all 0.6s;
    transition: all 0.6s ease-in-out;
    animation: example 2s infinite;
    font-weight: 600;

}

#color:hover {
    transform: translateY(-0.35rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 20px rgba(103, 98, 98, 0.2);
    background-position: 0;
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
    color: #f1ecea;
    font-weight: 600;
}

#color:hover::after {
    transform: scaleX(1.5) scaleY(1.7);
    opacity: 0;
}

@keyframes example {
    0% {
        background-color: #1328e8;
    }

    50% {
        background-color: #2937b1;
    }

    100% {
        background-color: #1328e8;
    }
}